@import 'variables';
body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}

//GENERAL STYLES//
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: block;
    line-height: 1.4em;
}

h1 {
    font-size: 50px;
    margin: 0;
    line-height: 1.15em;
}

h2 {
    font-size: 12px;
    color: $accent-gray;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: $accent-gray;
}

.social {
    padding-left: 0;
    font-size: 25px;
    li {
        display: inline-block;
    }
}

.links {
    font-size: 10px;
    line-height: 2em;
    font-weight: 400;
    a {
        color: $accent-gray;
    }
    li {
        display: inline-block;
        margin-right: 10px;
    }
}

nav {
    margin-bottom: 75px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: #000;
    transition: color 0.4s;
    &:hover,
    &:focus {
        color: $accent-pink;
    }
    &:active,
    &.active {
        color: $accent-color;
    }
}

//HOMEPAGE//
#home h1 {
    font-size: 90px;
    margin: 0;
    @media screen and (max-width: 500px) {
        font-size: 50px;
    }
    @media screen and (max-width: 350px) {
        font-size: 40px;
    }
}

//PORTFOLIO//
.project-tools {
    color: $accent-gray;
    font-size: 12px;
    line-height: 1.5em;
    @media screen and (max-width: 1200px) {
        margin-bottom: 30px;
        li {
            display: inline-block;
            margin-right: 15px;
        }
    }
}

//CONTACT//
.contact-page {
    h2 {
        padding: 0;
    }
}

.contact-me {
    a {
        text-decoration: underline;
    }
}

input {
    font-size: 12px;
}

.submit {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 2px;
}