@import 'variables';
body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: block;
}

header h1 {
    font-size: 90px;
    margin: 0;
}

h1 {
    font-size: 50px;
    margin: 0;
}

h2 {
    font-size: 12px;
    color: $accent-gray;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: $accent-gray;
}

.social {
    padding-left: 0;
    font-size: 25px;
    li {
        display: inline-block;
    }
}

.skills {
    padding-left: 0;
    margin: 25px 0 30px;
    font-size: 10px;
    position: relative;
    left: -20px;
    li {
        display: inline-block;
        width: 75px;
        margin: 1px;
        padding: 0 15px;
        text-align: center;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.skills .svg-inline--fa {
    font-size: 45px;
    margin-bottom: 5px;
    text-align: center;
}

ul {
    padding: 0;
    list-style: none;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 10px;
    line-height: 2em;
    a {
        color: $accent-gray;
    }
}

nav {
    margin-bottom: 75px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: #000;
    transition: color 0.4s;
    &:hover,
    &:focus {
        color: $accent-pink;
    }
    &:active,
    &.active {
        color: $accent-color;
    }
}